<html>

<head>
    <link rel="stylesheet" href="./../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./../../assests/css/starter.css" />
</head>

<body>
    <!-- div for headeer options -->
    <div class="row heading">
        <div class="row" style="margin-left: 15;">
            <h3 id="snapInfo">SnapTime: 00.00.00 Number Of Process: 0</h3>
            <button id="snapBtn" class="btn btn-warning" type="button" style="margin-bottom: 1%;">Take Current Processes Snapshot</button>
        </div>
        <div class="row" style="margin-left: 15;margin-top: 3%;" id="progressDiv">
            <div class="progress" style="width: 90%;">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                    70%
                </div>
            </div>
        </div>
       
    </div>

    <!-- Div for list and result -->
    <div class="row body">
        <div class="col-sm-3" style="border-right:solid;height: 615px;">
            <ul id="process-list">
                
            </ul>
        </div>
        <div class="col-sm-7"></div>
    </div>
    <script src="../controller/strater.js"></script>
</body>

</html>